input {
	mod-key "Mod3"
	keyboard {
		xkb {
			layout "pl,ru"
			options "grp:win_space_toggle,compose:rctrl,lv5:caps_switch"
		}
		repeat-delay 200
		repeat-rate 50
		numlock
	}

	touchpad {
		tap
		natural-scroll
	}

	mouse {
		accel-speed -0.2
		accel-profile "flat"
	}
	focus-follows-mouse
}

cursor {
	hide-when-typing
}

gestures {
	hot-corners {
		off
	}
}
