layout {
	gaps 0
	center-focused-column "never"

	preset-column-widths {
		proportion 0.25
		proportion 0.5
		proportion 0.75
	}

	default-column-width { proportion 0.5; }

	focus-ring {
		off
	}

	border {
		off
		width 5
		active-color "#ffc87f"
		inactive-color "#505050"
		urgent-color "#9b0000"
	}

	shadow {
		softness 30
		spread 5
		offset x=0 y=5
		color "#0007"
	}
}
