// right monitor
workspace "browser" {
	open-on-output "DP-1"
}
workspace "code" {
	open-on-output "DP-1"
}
workspace "term" {
	open-on-output "DP-1"
}
workspace "misc" {
	open-on-output "DP-1"
}

// left monitor
workspace "chat" {
	open-on-output "DP-2"
}
